<aside class="aside-account">
    <div class="aside-account-info">
        <div class="aside-sign-in">
            <div class="aside-account-logo">
                kakao
            </div>
            <div class="aside-account-form">
                <input type="email" placeholder="카카오계정(이메일)">
                <i class="fa fa-question"></i>
            </div>
            <div class="aside-account-form">
                <input type="password" placeholder="비밀번호(4~16자리)">
            </div>
            <div class="aside-account-form checkbox">
                <label>
                    <input type="checkbox">
                    카카오계정 저장
                </label>
            </div>
            <div class="aside-account-form">
                <button class="account-btn">로그인</button>
            </div>
            <div class="aside-account-help">
                <div class="account-sign-up">
                    회원가입
                </div>
                <div class="account-help-right">
                    카카오계정 찾기 | 비밀번호 재설정
                </div>
            </div>
        </div>
    </div>
    <div class="aside-account-notice">
        <img src="./img/aside-account-banner.png">
    </div>
</aside>