<header>
    <div class="header-top">
        <div class="header-logo">
            <img src="../img/logo.png">
        </div>
        <span class="header-account">캐시충전 | 로그인</span>
    </div>
    <div class="header-menu">
        <ul class="header-nav">
            <li style="width: 12.5%">
                홈
                <span class="line active"></span>
            </li>
            <li style="width: 25%">
                웹툰/만화
                <span class="line"></span>
            </li>
            <li style="width: 25%">
                웹소설/장르
                <span class="line"></span>
            </li>
            <li style="width: 25%">
                문학/실용
                <span class="line"></span>
            </li>
            <li style="width: 12.5%">
                #
                <span class="line"></span>
            </li>
        </ul>
    </div>
</header>