<header>
    <div class="header-top">
        <div class="header-logo">
            <img src="../img/logo.png">
        </div>
        <span class="header-account">캐시충전 | 로그인</span>
    </div>
    <div class="header-menu">
        <ul class="header-nav">
            <li style="width: 12.5%">
                홈
            </li>
            <li style="width: 25%">
                웹툰/만화
            </li>
            <li style="width: 25%">
                웹소설/장르
            </li>
            <li style="width: 25%">
                문학/실용
            </li>
            <li style="width: 12.5%">
                #
            </li>
        </ul>
    </div>
</header>