<header>
    <div class="header-top">
        <div class="header-logo">
            <img src="../img/logo.png">
        </div>
        <span class="header-account">캐시충전 | 로그인</span>
    </div>
    <div class="header-menu">
        <ul class="header-nav">
            <li style="width: 12.5%" nav-id="index">
                홈
                <span class="line{{#if index}} active{{/if}}"></span>
            </li>
            <li style="width: 25%" nav-id="toon">
                웹툰/만화
                <span class="line{{#if toon}} active{{/if}}"></span>
            </li>
            <li style="width: 25%" nav-id="novel">
                웹소설/장르
                <span class="line{{#if novel}} active{{/if}}"></span>
            </li>
            <li style="width: 25%" nav-id="literature">
                문학/실용
                <span class="line{{#if literature}} active{{/if}}"></span>
            </li>
            <li style="width: 12.5%" nav-id="sort">
                #
                <span class="line{{#if sort}} active{{/if}}"></span>
            </li>
        </ul>
    </div>
</header>