<header>
    <div class="header-top">
        <div class="header-logo">
            <img src="../img/logo.png">
        </div>
        <span class="header-account">캐시충전 | 로그인</span>
    </div>
    <ul class="header-nav">
        <li style="width: 12.5%">
            <div class="header-nav-container">
                <img src="../img/header-nav-home.png">
                <div class="line active"></div>
            </div>
        </li>
        <li style="width: 25%">
            <div class="header-nav-container">
                <img src="../img/header-nav-toon.png">
                <div class="line"></div>
            </div>
        </li>
        <li style="width: 25%">
            <div class="header-nav-container">
                <img src="../img/header-nav-novel.png">
                <div class="line"></div>
            </div>
        </li>
        <li style="width: 25%">
            <div class="header-nav-container">
                <img src="../img/header-nav-literature.png">
                <div class="line"></div>
            </div>
        </li>
        <li style="width: 12.5%">
            <div class="header-nav-container">
                <img src="../img/header-nav-tag.png">
                <div class="line"></div>
            </div>
        </li>
    </ul>
</header>