@import 'common.less';

@main-margin-top: 15px;
@main-background-color: #fff;

.main-contents {
  width: 720px;
  margin: 0 auto;
}

.main-banner {
  position: relative;
  height: 360px;
  margin-top: @main-margin-top;
  cursor: pointer;
  overflow: hidden;
}

.main-banner img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.main-suggest {
  margin-top: @main-margin-top;
  width: 100%;
  height: 180px;
  background-color: @main-background-color;
}

.suggest-list {
  height: 63px;
  padding-top: 15px;
  text-align: center;
}

.suggest-list > li {
  display: inline-block;
  width: 20%;
  margin: 0 10px;
  line-height: 46px;
  font-size: 22px;
  border: 1px solid #dedede;
  border-radius: 6px;
  cursor: pointer;
}

.head-more {
  height: 70px;
  padding: 25px 0;
  text-align: center;
  cursor: pointer;
}

.head-more img {
  width: 60px;
}

.contents {
  height: 607px;
  margin-top: @main-margin-top;
  background-color: @main-background-color;
}

.contents-list {
  height: 490px;
  padding: 10px 20px 0 20px;
}

.btn-banner-container {
  width: 720px;
  margin: 15px auto;
  text-align: center;
}

.appdownload {
  width: 720px;
  margin: 15px auto;
  cursor: pointer;
}



