@import 'common.less';

@main-margin-top: 15px;
@main-background-color: #fff;

.main-contents {
  width: 720px;
  margin: 0 auto;
}

.main-banner {
  margin-top: @main-margin-top;
  cursor: pointer;
}

.main-suggest {
  margin-top: @main-margin-top;
  width: 100%;
  height: 180px;
  background-color: @main-background-color;
}

@head-box-height: 47px;

.head-box {
  height: @head-box-height;
}

.head-title {
  display: inline-block;
  padding: 10px 0 0 20px;
  font-size: 20px;
  line-height: @head-box-height;
}

.head-count {
  display: inline-block;
  float: right;
  padding: 10px 15px 0 0;
  color: #c7c7c7;
  font-size: 17px;
  line-height: @head-box-height;
}

.suggest-list {
  height: 63px;
  padding-top: 15px;
  text-align: center;
}

.suggest-list > li {
  display: inline-block;
  width: 20%;
  margin: 0 10px;
  line-height: 46px;
  font-size: 22px;
  border: 1px solid #dedede;
  border-radius: 6px;
  cursor: pointer;
}

.head-more {
  height: 70px;
  padding: 25px 0;
  text-align: center;
  cursor: pointer;
}

.head-more img {
  width: 60px;
}

.contents {
  height: 607px;
  margin-top: @main-margin-top;
  background-color: @main-background-color;
}

.contents-list {
  height: 490px;
  padding: 10px 20px 0 20px;
}

.list {
  height: 120px;
  padding: 10px 0;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.list-text {
  padding-top: 13px;
}

.list-img {
  position: relative;
  float: left;
  margin-right: 20px;
  border: solid 1px #eee;
}

.list-title-img {
  width: 142px;
}

.list-title {
  margin-bottom: 5px;
  font-size: 19px;
  line-height: 110%;
}

.list-summary {
  margin-bottom: 17px;
}

.list-summary, .list-info {
  color: #9c9c9c;
  font-size: 15px;
  line-height: 110%;
}

.badge-time {
  width: 30px;
}

.badge-kakao-toon, .badge-daum-toon {
  width: 56px;
}

.badge-kakao-novel {
  width: 68px;
}

.badge-time, .badge-kakao-toon, .badge-daum-toon, .badge-kakao-novel {
  position: absolute;
  top: 0;
  left: 0;
}

.badge-up {
  width: 22px;
}

.badge-new {
  width: 34px;
}

.age-grade {
  width: 19px;
}

.badge-up, .badge-new, .age-grade {
  padding-top: 2px;
  vertical-align: top;
}



