@import 'common.less';

.sub-contents {
  width: 720px;
  margin: 0 auto;
}

@sub-menu-height: 70px;

.sub-menu {
  width: 100%;
  height: @sub-menu-height;
  margin-top: 15px;
  background-color: #fff;
  border-bottom: solid 1px #d9d9d9;
  color: #bdbdbd;
  font-size: 22px;
}

.sub-menu > li {
  display: inline-block;
  padding: 20px 0;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.sub-menu > li.active {
  color: #262626;
}

.sub-banner {
  height: 360px;
  margin: 15px 0;
}

.sub-contents-list {
  height: 100%;
  padding: 20px 20px 10px 20px;
  background-color: #fff;
}

.toon-waitfree > li .list:last-child {
  border-bottom: none;
}

.badge-time {
  width: 35px;
}