<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 홈</title>
</head>
<body>
{{> template/header}}
<div class="main-contents">
    <section class="main-banner">
        <img src="./img/main-banner.png">
    </section>
    <section class="main-suggest">
        <div class="head-box">
            <div class="head-title">
                고민없이 작품찾기
            </div>
            <div class="head-count">
                141개의 태그
            </div>
        </div>
        <ul class="suggest-list">
            <li>#10대추천</li>
            <li>#20대추천</li>
            <li>#30대추천</li>
            <li>#40대+</li>
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section class="contents">
        <div class="head-box">
            <div class="head-title">
                기다리면무료 만화
            </div>
            <div class="head-count">
                641개의 작품
            </div>
        </div>
        <ul class="contents-list">
            <li>
                <div class="list">
                    <img class="list-img" src="./img/free-toon1.png">
                    <ul class="list-text">
                        <li class="list-title">김 비서가 왜 그럴까 [단독 선연재]</li>
                        <li class="list-summary">김 비서가 대체 왜 그러는걸까?</li>
                        <li class="list-info">367.7만 · 웹툰 김명미, 원작 정경윤</li>
                    </ul>
                </div>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section></section>
    <section></section>
    <section></section>
</div>
{{> template/footer}}
</body>
</html>