<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 홈</title>
</head>
<body>
{{> template/header}}
<div class="main-contents">
    <section class="main-banner">
        <img src="./img/main-banner.png">
    </section>
    <section class="main-suggest">
        <div class="head-box">
            <div class="head-title">
                고민없이 작품찾기
            </div>
            <div class="head-count">
                141개의 태그
            </div>
        </div>
        <ul class="suggest-list">
            <li>#10대추천</li>
            <li>#20대추천</li>
            <li>#30대추천</li>
            <li>#40대+</li>
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section class="contents">
        <div class="head-box">
            <div class="head-title">
                기다리면무료 만화
            </div>
            <div class="head-count">
                641개의 작품
            </div>
        </div>
        <ul class="contents-list">
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/free-toon1.png">
                        <img class="badge-time" src="./img/badge-time.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-up" src="./img/badge-up.png">
                            눈이 나려 꽃 [연재,고화질]
                        </li>
                        <li class="list-summary">
                            권력과 사랑의 이중주
                        </li>
                        <li class="list-info">
                            37.6만 · 임해연
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/free-toon2.png">
                        <img class="badge-time" src="./img/badge-time.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-new" src="./img/badge-new.png">
                            <img class="age-grade" src="./img/age-grade-15.png">
                            브레이커 시리즈 [완결]
                        </li>
                        <li class="list-summary">
                            잔혹한 현대무림 속 고수들의 이야기
                        </li>
                        <li class="list-info">
                            26.4만 · 전극진, 박진환
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/free-toon3.png">
                        <img class="badge-time" src="./img/badge-time.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            김 비서가 왜 그럴까 [독점 연재]
                        </li>
                        <li class="list-summary">
                            김 비서가 대체 왜 그러는걸까 ?
                        </li>
                        <li class="list-info">
                            371.3만 · 웹툰 김명미, 원작 정경윤
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/free-toon4.png">
                        <img class="badge-time" src="./img/badge-time.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-up" src="./img/badge-up.png">
                            드레이크 사가
                        </li>
                        <li class="list-summary">
                            바르카 가문의 운명을 바꿔라!
                        </li>
                        <li class="list-info">
                            36.6만 · 동역명
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section class="contents">
        <div class="head-box">
            <div class="head-title">
                인기 웹툰
            </div>
            <div class="head-count">
                82개의 작품
            </div>
        </div>
        <ul class="contents-list">
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/best-toon1.jpg">
                        <img class="badge-kakao-toon" src="./img/badge-kakao-toon.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-up" src="./img/badge-up.png">
                            카야
                        </li>
                        <li class="list-summary">
                            사랑과 운명, 권력과 암투의 대서사시!
                        </li>
                        <li class="list-info">
                            15.2만 · 신일숙
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/best-toon2.jpg">
                        <img class="badge-kakao-toon" src="./img/badge-kakao-toon.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-up" src="./img/badge-up.png">
                            써니
                        </li>
                        <li class="list-summary">
                            오늘의 연애전선은 어떤가요?
                        </li>
                        <li class="list-info">
                            12.4만 · 최성호, 이지우, 이슬기
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/best-toon3.jpg">
                        <img class="badge-kakao-toon" src="./img/badge-kakao-toon.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-up" src="./img/badge-up.png">
                            망태
                        </li>
                        <li class="list-summary">
                            불성실한 영웅과 함께하는 액션활극!
                        </li>
                        <li class="list-info">
                            26만 · 네모, 문상
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/best-toon4.jpg">
                        <img class="badge-daum-toon" src="./img/badge-daum-toon.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-up" src="./img/badge-up.png">
                            놈들의 도시
                        </li>
                        <li class="list-summary">
                            지구상 모든 여성들이 사라졌다?
                        </li>
                        <li class="list-info">
                            33.5만 · 유들, 라떼
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section class="contents">
        <div class="head-box">
            <div class="head-title">
                기다리면무료 소설
            </div>
            <div class="head-count">
                856개의 작품
            </div>
        </div>
        <ul class="contents-list">
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/free-novel1.png">
                        <img class="badge-time" src="./img/badge-time.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            형사의 게임 [완결]
                        </li>
                        <li class="list-summary">
                            범죄자들의 세계, 익스터넷?!
                        </li>
                        <li class="list-info">
                            13.3만 · 무장
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/free-novel2.png">
                        <img class="badge-time" src="./img/badge-time.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-new" src="./img/badge-new.png">
                            그 오빠들을 조심해! [독점연재]
                        </li>
                        <li class="list-summary">
                            삐뚤어지기로 결심했어!
                        </li>
                        <li class="list-info">
                            14.3만 · 플루토스
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/free-novel3.png">
                        <img class="badge-time" src="./img/badge-time.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-new" src="./img/badge-new.png">
                            헬무트 [독점 연재]
                        </li>
                        <li class="list-summary">
                            마물의 숲에 버려진 아이
                        </li>
                        <li class="list-info">
                            12.1만 · 혼요
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/free-novel4.png">
                        <img class="badge-time" src="./img/badge-time.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-new" src="./img/badge-new.png">
                            독을 품은 꽃 [단독선공개]
                        </li>
                        <li class="list-summary">
                            당신, 복수할 거야
                        </li>
                        <li class="list-info">
                            9.1만 · 김혜지
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section class="contents">
        <div class="head-box">
            <div class="head-title">
                인기 웹소설
            </div>
            <div class="head-count">
                24개의 작품
            </div>
        </div>
        <ul class="contents-list">
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/best-novel1.png">
                        <img class="badge-kakao-novel" src="./img/badge-kakao-novel.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-up" src="./img/badge-up.png">
                            황제가 돌아왔다
                        </li>
                        <li class="list-summary">
                            어떤 놈이 날 되살려 낸 거냐!
                        </li>
                        <li class="list-info">
                            5.3만 · 코기베어
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/best-novel2.png">
                        <img class="badge-kakao-novel" src="./img/badge-kakao-novel.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-up" src="./img/badge-up.png">
                            후궁계약
                        </li>
                        <li class="list-summary">
                            후궁이 된 살수, 나라를 속여라?!
                        </li>
                        <li class="list-info">
                            21.5만 · 레죵
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/best-novel3.png">
                        <img class="badge-kakao-novel" src="./img/badge-kakao-novel.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-up" src="./img/badge-up.png">
                            회기로 역전하다
                        </li>
                        <li class="list-summary">
                            장비빨에 회귀빨까지?!
                        </li>
                        <li class="list-info">
                            8.1만 · 데이트랙
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img class="list-title-img" src="./img/best-novel4.jpg">
                        <img class="badge-kakao-novel" src="./img/badge-kakao-novel.png">
                    </div>
                    <ul class="list-text">
                        <li class="list-title">
                            <img class="badge-up" src="./img/badge-up.png">
                            응급! 사랑으로 치료하는 방법
                        </li>
                        <li class="list-summary">
                            나한테 언제쯤 질릴 거예요?
                        </li>
                        <li class="list-info">
                            10.6만 · 강규원
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
</div>
{{> template/footer}}
</body>
</html>