<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 홈</title>
</head>
<body>
{{> template/header}}
<div class="main-contents">
    <section class="main-banner">
        <img src="./img/main-banner.png">
    </section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
</div>
{{> template/footer}}
</body>
</html>