<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 홈</title>
</head>
<body>
{{> template/header}}
<div class="main-contents">
    <section class="main-banner">
        <img src="./img/main-banner.png">
    </section>
    <section class="main-suggest">
        <div class="head-box">
            <div class="head-title">
                고민없이 작품찾기
            </div>
            <div class="head-count">
                141개의 태그
            </div>
        </div>
        <ul class="suggest-list">
            <li>#10대추천</li>
            <li>#20대추천</li>
            <li>#30대추천</li>
            <li>#40대+</li>
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
</div>
{{> template/footer}}
</body>
</html>