<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 홈</title>
</head>
<body>
{{> template/header}}
<div class="main-contents">
    <section class="main-banner">
        <!-- > 버튼 누르면 배너 이동 => Carousel -->
        <img src="./img/main-banner.png">
    </section>
    <section class="main-suggest">
        <div class="head-box">
            <div class="head-title">
                고민없이 작품찾기
            </div>
            <div class="head-count">
                141개의 태그
            </div>
        </div>
        <ul class="suggest-list">
            <li>#10대추천</li>
            <li>#20대추천</li>
            <li>#30대추천</li>
            <li>#40대+</li>
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section class="contents">
        <div class="head-box">
            <div class="head-title">
                기다리면무료 만화
            </div>
            <div class="head-count">
                641개의 작품
            </div>
        </div>
        <ul class="contents-list waitfree-toon">
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section class="contents">
        <div class="head-box">
            <div class="head-title">
                인기 웹툰
            </div>
            <div class="head-count">
                82개의 작품
            </div>
        </div>
        <ul class="contents-list best-toon">
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section class="contents">
        <div class="head-box">
            <div class="head-title">
                기다리면무료 소설
            </div>
            <div class="head-count">
                856개의 작품
            </div>
        </div>
        <ul class="contents-list waitfree-novel">
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
    <section class="contents">
        <div class="head-box">
            <div class="head-title">
                인기 웹소설
            </div>
            <div class="head-count">
                24개의 작품
            </div>
        </div>
        <ul class="contents-list best-novel">
        </ul>
        <div class="head-more">
            <img src="./img/more.png">
        </div>
    </section>
</div>
<div class="btn-banner-container" style="background-color: #50abff">
    <img style="height: 100px" src="./img/btn-banner-event.png">
</div>
<div class="btn-banner-container" style="background-color: #484848">
    <img style="height: 100px;" src="./img/btn-banner-bob.png">
</div>
<div class="btn-banner-container" style="background-color: #ebbf96">
    <img style="height: 200px" src="./img/btn-banner-prized.png">
</div>
<div class="appdownload">
    <img src="./img/appDownload.png">
</div>
{{> template/footer}}
</body>
</html>