<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 문학/실용</title>
</head>
<body>
{{> template/header literature="true" }}
<div class="sub-contents">
    <ul class="sub-menu">
        <li style="width: 25%;" id="sub-contents-literature-waitfree">
            기다리면 무료
        </li>
        <li style="width: 15%" id="sub-contents-literature-literature">
            문학
        </li>
        <li style="width: 20%" id="sub-contents-novel-utility">
            실용
        </li>
        <li style="width: 20%" id="sub-contents-novel-learning">
            학습만화
        </li>
        <li style="width: 20%" id="sub-contents-novel-classic">
            고전5
        </li>
    </ul>
    <section class="sub-contents-literature sub-contents-literature-waitfree active">
        <div class="sub-banner">
            <img src="./img/literature/banner-literature-waitfree.png">
        </div>
        <div class="sub-contents-list">
            <ul class="literature-waitfree">
            </ul>
        </div>
    </section>
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
    <div class="appdownload">
        <img src="./img/appDownload.png">
    </div>
</div>
{{> template/footer }}
</body>
</html>