<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 웹소설/장르</title>
</head>
<body>
{{> template/header novel="true" }}
<div class="sub-contents">
    <ul class="sub-menu">
        <li style="width: 15%" id="sub-contents-novel-webnovel">
            웹소설
        </li>
        <li style="width: 25%" id="sub-contents-novel-waitfree" class="active">
            기다리면무료
        </li>
        <li style="width: 17%" id="sub-contents-novel-fantasy">
            판타지
        </li>
        <li style="width: 13%" id="sub-contents-novel-heroism">
            무협
        </li>
        <li style="width: 17%" id="sub-contents-novel-romance">
            로맨스
        </li>
        <li style="width: 13%" id="sub-contents-novel-ro-fan">
            로판
        </li>
    </ul>
    <section class="sub-contents-novel sub-contents-novel-webnovel">
        <section class="sub-banner">
            <img src="./img/novel/banner-novel-webnovel.png">
        </section>
        <ul class="sub-menu-daily-webnovel">
            <li daily-Id="novel-webnovel-mon" class="active">월</li>
            <li daily-Id="novel-webnovel-tue">화</li>
            <li daily-Id="novel-webnovel-wed">수</li>
            <li daily-Id="novel-webnovel-thur">목</li>
            <li daily-Id="novel-webnovel-fri">금</li>
            <li daily-Id="novel-webnovel-sat">토</li>
            <li daily-Id="novel-webnovel-sun">일</li>
            <li daily-Id="novel-webnovel-all">전체</li>
        </ul>
        <section class="sub-contents-list daily-webnovel-list">
            <ul class="daily-webnovel novel-webnovel-mon active">
            </ul>
            <ul class="daily-webnovel novel-webnovel-tue">
            </ul>
            <ul class="daily-webnovel novel-webnovel-wed">
            </ul>
            <ul class="daily-webnovel novel-webnovel-thur">
            </ul>
            <ul class="daily-webnovel novel-webnovel-fri">
            </ul>
            <ul class="daily-webnovel novel-webnovel-sat">
            </ul>
            <ul class="daily-webnovel novel-webnovel-sun">
            </ul>
            <ul class="daily-webnovel novel-webnovel-all">
            </ul>
        </section>
    </section>
    <section class="sub-contents-novel sub-contents-novel-waitfree active">
        <section class="sub-banner">
            <img src="./img/novel/banner-novel-waitfree.png">
        </section>
        <section class="sub-contents-list">
            <ul class="novel-waitfree">
            </ul>
        </section>
    </section>
    <div class="appdownload">
        <img src="./img/appDownload.png">
    </div>
</div>
{{> template/footer }}
</body>
</html>