<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 태그메인</title>
</head>
<body>
{{> template/header tag="true" }}
<div class="sub-contents">
    <div class="collection-box">
        <div class="collection-box-title">
            오늘 좀 자극적인 게 필요해!
        </div>
        <ul class="collection-list">
            <li style="background-color: #b567bc">
                #아슬아슬_짜릿한_남장여자
            </li>
            <li style="background-color: #e96161">
                #까짓거_해봅시다_계약연예
            </li>
            <li style="background-color: #69ac52">
                #긴장감_쩌는_스릴러
            </li>
            <li style="background-color: #757ec0">
                #좀비는_언제봐도신선하다
            </li>
        </ul>
    </div>
</div>
{{> template/footer }}
</body>
</html>