<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 태그메인</title>
</head>
<body>
{{> template/header tag="true" }}
<div class="sub-contents">
    <section class="tag-box">
        <div class="tag-box-title">
            판타지 한 번 시작해볼래요?
        </div>
        <ul class="tag-list">
            <li style="background-color: #b567bc">
                #판타지_입문작_추천
            </li>
            <li style="background-color: #e96161">
                #동양을_배경으로_하는_판타지
            </li>
            <li style="background-color: #757ec0">
                #미래도시_배경인_작품모음
            </li>
            <li style="background-color: #e79f42">
                #남녀의_몸이_바뀐다면
            </li>
        </ul>
    </section>
    <section class="collection-box">
        <ul class="age-nav">
            <li age-Id="age-all" class="active">
                전체
                <span class="line age-all active"></span>
            </li>
            <li age-Id="teenager">
                10대
                <span class="line teenager"></span>
            </li>
            <li age-Id="twentys">
                20대
                <span class="line twentys"></span>
            </li>
            <li age-Id="thirtys">
                30대
                <span class="line thirtys"></span>
            </li>
            <li age-Id="over-fourtys">
                40대+
                <span class="line over-fourtys"></span>
            </li>
        </ul>
        <ul class="gender-nav">
            <li gender-Id="gender-all" class="active">
                <i class="fa fa-check gender-all active"></i>
                전체
            </li>
            <li gender-Id="male">
                <i class="fa fa-check male"></i>
                남자
            </li>
            <li gender-Id="female">
                <i class="fa fa-check female"></i>
                여자
            </li>
        </ul>
        <ul class="collection-main">
            <li class="collection-list">
                <div class="collection-title">
                    #100만명이봤다_명예의전당
                </div>
                <div class="collection-icon">
                    <i class="fa fa-commenting-o"></i>
                    <span class="collection-reply">
                        1,815
                    </span>
                    <i class="fa fa-heart-o"></i>
                    <span class="collection-like">
                        3,407
                    </span>
                </div>
                <div class="collection-img">
                    <img src="./img/tag/one-million-views.png">
                    <div class="collection-count">
                        42
                    </div>
                </div>
            </li>
            <li class="collection-list">
                <div class="collection-title">
                    #10대여자가_많이보는_작품
                </div>
                <div class="collection-icon">
                    <i class="fa fa-commenting-o"></i>
                    <span class="collection-reply">
                        5,379
                    </span>
                    <i class="fa fa-heart-o"></i>
                    <span class="collection-like">
                        8,186
                        </span>
                </div>
                <div class="collection-img">
                    <img src="./img/tag/teenager-woman.png">
                    <div class="collection-count">
                        142
                    </div>
                </div>
            </li>
            <li class="collection-list">
                <div class="collection-title">
                    #10대남자가_많이보는_작품
                </div>
                <div class="collection-icon">
                    <i class="fa fa-commenting-o"></i>
                    <span class="collection-reply">
                        2,182
                    </span>
                    <i class="fa fa-heart-o"></i>
                    <span class="collection-like">
                        2,577
                        </span>
                </div>
                <div class="collection-img">
                    <img src="./img/tag/teenager-man.png">
                    <div class="collection-count">
                        82
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
<div class="appdownload">
    <img src="./img/appDownload.png">
</div>
{{> template/footer }}
</body>
</html>