<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 웹툰/만화</title>
</head>
<body>
{{> template/header }}
<div class="sub-contents">
    <ul class="sub-menu">
        <li style="width: 15%">
            웹툰
        </li>
        <li style="width: 25%" class="active">
            기다리면무료
        </li>
        <li style="width: 15%">
            순정
        </li>
        <li style="width: 10%">
            소년
        </li>
        <li style="width: 15%">
            드라마
        </li>
        <li style="width: 20%">
            액션/무협
        </li>
    </ul>
    <section class="sub-banner">
        <img src="./img/toon/banner-toon-waitfree.png">
    </section>
    <section class="sub-contents-list">
        <ul class="toon-waitfree">
        </ul>
    </section>
    <div class="appdownload">
        <img src="./img/appDownload.png">
    </div>
</div>
{{> template/footer }}
</body>
</html>