<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 웹툰/만화</title>
</head>
<body>
{{> template/header toon="true" }}
<div class="sub-contents">
    <ul class="sub-menu">
        <li style="width: 15%" toon-Id="sub-contents-toon-webtoon">
            웹툰
        </li>
        <li style="width: 25%" toon-Id="sub-contents-toon-waitfree" class="active">
            기다리면무료
        </li>
        <li style="width: 15%" toon-Id="sub-contents-toon-romance">
            순정
        </li>
        <li style="width: 10%" toon-Id="sub-contents-toon-boy">
            소년
        </li>
        <li style="width: 15%" toon-Id="sub-contents-toon-drama">
            드라마
        </li>
        <li style="width: 20%" toon-Id="sub-contents-toon-action">
            액션/무협
        </li>
    </ul>
    <section class="sub-contents-toon sub-contents-toon-webtoon">
        <section class="sub-banner">
            <img src="./img/toon/banner-toon-webtoon.png">
        </section>
        <ul class="sub-menu-day-webtoon">
            <li class="active">월</li>
            <li>화</li>
            <li>수</li>
            <li>목</li>
            <li>금</li>
            <li>토</li>
            <li>일</li>
            <li>전체</li>
        </ul>
        <section class="sub-contents-list daily-webtoon-list">
            <ul class="toon-webtoon-mon">
            </ul>
            <ul class="toon-webtoon-tue active">
            </ul>
        </section>
    </section>
    <section class="sub-contents-toon sub-contents-toon-waitfree active">
        <section class="sub-banner">
            <img src="./img/toon/banner-toon-waitfree.png">
        </section>
        <section class="sub-contents-list">
            <ul class="toon-waitfree">
            </ul>
        </section>
    </section>
    <section class="sub-contents-toon sub-contents-toon-romance">
        <section class="sub-banner">
            <img src="./img/toon/banner-toon-romance.png">
        </section>
        <div class="head-box">
            <div class="head-title">
                Today's hot
            </div>
        </div>
        <section class="sub-contents-list">
            <ul class="toon-romance">
            </ul>
        </section>
    </section>
    <section class="sub-contents-toon sub-contents-toon-boy">
        <section class="sub-banner">
            <img src="./img/toon/banner-toon-boy.png">
        </section>
        <div class="head-box">
            <div class="head-title">
                오늘의 추천
            </div>
        </div>
        <section class="sub-contents-list">
            <ul class="toon-boy">
            </ul>
        </section>
    </section>
    <section class="sub-contents-toon sub-contents-toon-drama">
        <section class="sub-banner">
            <img src="./img/toon/banner-toon-drama.png">
        </section>
        <div class="head-box">
            <div class="head-title">
                오늘의 추천
            </div>
        </div>
        <section class="sub-contents-list">
            <ul class="toon-drama">
            </ul>
        </section>
    </section>
    <section class="sub-contents-toon sub-contents-toon-action">
        <section class="sub-banner">
            <img src="./img/toon/banner-toon-action.png">
        </section>
        <div class="head-box">
            <div class="head-title">
                오늘의 추천
            </div>
        </div>
        <section class="sub-contents-list">
            <ul class="toon-action">
            </ul>
        </section>
    </section>
    <div class="appdownload">
        <img src="./img/appDownload.png">
    </div>
</div>
{{> template/footer }}
</body>
</html>