<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오페이지, 웹툰/만화</title>
</head>
<body>
{{> template/header toon="true" }}
<div class="sub-contents">
    <ul class="sub-menu">
        <li id="sub-contents-toon-webtoon">
            웹툰
        </li>
        <li id="sub-contents-toon-waitfree" class="active">
            기다리면무료
        </li>
        <li id="sub-contents-toon-romance">
            순정
        </li>
        <li id="sub-contents-toon-boy">
            소년
        </li>
        <li id="sub-contents-toon-drama">
            드라마
        </li>
        <li id="sub-contents-toon-action">
            액션/무협
        </li>
    </ul>
    <section class="sub-contents-toon sub-contents-toon-webtoon">
        <div class="sub-banner">
            <img src="./img/toon/banner-toon-webtoon.png">
        </div>
        <ul class="sub-menu-daily-webtoon">
            <li daily-Id="toon-webtoon-mon" class="active">월</li>
            <li daily-Id="toon-webtoon-tue">화</li>
            <li daily-Id="toon-webtoon-wed">수</li>
            <li daily-Id="toon-webtoon-thur">목</li>
            <li daily-Id="toon-webtoon-fri">금</li>
            <li daily-Id="toon-webtoon-sat">토</li>
            <li daily-Id="toon-webtoon-sun">일</li>
            <li daily-Id="toon-webtoon-all">전체</li>
        </ul>
        <div class="sub-contents-list daily-webtoon-list">
            <ul class="daily-webtoon toon-webtoon-mon active">
            </ul>
            <ul class="daily-webtoon toon-webtoon-tue">
            </ul>
            <ul class="daily-webtoon toon-webtoon-wed">
            </ul>
            <ul class="daily-webtoon toon-webtoon-thur">
            </ul>
            <ul class="daily-webtoon toon-webtoon-fri">
            </ul>
            <ul class="daily-webtoon toon-webtoon-sat">
            </ul>
            <ul class="daily-webtoon toon-webtoon-sun">
            </ul>
            <ul class="daily-webtoon toon-webtoon-all">
            </ul>
        </div>
    </section>
    <section class="sub-contents-toon sub-contents-toon-waitfree active">
        <div class="sub-banner">
            <img src="./img/toon/banner-toon-waitfree.png">
        </div>
        <div class="sub-contents-list">
            <ul class="toon-waitfree">
            </ul>
        </div>
    </section>
    <section class="sub-contents-toon sub-contents-toon-romance">
        <div class="sub-banner">
            <img src="./img/toon/banner-toon-romance.png">
        </div>
        <div class="head-box">
            <div class="head-title">
                Today's hot
            </div>
        </div>
        <div class="sub-contents-list">
            <ul class="toon-romance">
            </ul>
        </div>
    </section>
    <section class="sub-contents-toon sub-contents-toon-boy">
        <div class="sub-banner">
            <img src="./img/toon/banner-toon-boy.png">
        </div>
        <div class="head-box">
            <div class="head-title">
                오늘의 추천
            </div>
        </div>
        <div class="sub-contents-list">
            <ul class="toon-boy">
            </ul>
        </div>
    </section>
    <section class="sub-contents-toon sub-contents-toon-drama">
        <div class="sub-banner">
            <img src="./img/toon/banner-toon-drama.png">
        </div>
        <div class="head-box">
            <div class="head-title">
                오늘의 추천
            </div>
        </div>
        <div class="sub-contents-list">
            <ul class="toon-drama">
            </ul>
        </div>
    </section>
    <section class="sub-contents-toon sub-contents-toon-action">
        <div class="sub-banner">
            <img src="./img/toon/banner-toon-action.png">
        </div>
        <div class="head-box">
            <div class="head-title">
                오늘의 추천
            </div>
        </div>
        <div class="sub-contents-list">
            <ul class="toon-action">
            </ul>
        </div>
    </section>
    <div class="appdownload">
        <img src="./img/appDownload.png">
    </div>
</div>
{{> template/footer }}
</body>
</html>